#storyData {
  display: none;
}

html {
  background: beige;
}

#output {
  position: relative;
  margin: 0 auto;
  padding: 50px 20px;
  max-width: 600px;
}

p {
  font-family: Garamond;
  font-size: x-large;
}

a {
  color: auto;
  text-decoration: none;
}
